<div id="title">
	<h1>{{sTitle}}</h1>
	<h2>{{sSubtitle}}</h2>
	<p>{{sEmail}}</p>
</div>


<article class="about">
	<h2>About me</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit lectus volutpat, vulputate massa a, volutpat eros. Mauris accumsan sem lacus, at blandit lorem semper non. Nunc id lacus enim. Donec aliquam magna et tellus blandit mollis. Mauris libero leo, mattis ac est quis, molestie sagittis sem. Proin quis eros eros. Proin auctor nisi ipsum, vel scelerisque nulla commodo sit amet. Maecenas ornare convallis orci, ac tincidunt dui laoreet eget. Suspendisse odio eros, auctor eu eros vitae, scelerisque congue arcu. Maecenas quam tortor, efficitur sed interdum a, scelerisque vel augue. Praesent cursus vel tellus sit amet efficitur.
	</p>
</article>