

<div class="container">

	<h2>Projects</h2>

	<ul>
		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project2.jpg"/>
				</div>
				<h3>Hello world</h3>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/hello-world">GitHub code</a></p>			
		</li>


		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project1.jpg"/>
				</div>
				<h3>JS Project</h3>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/js-project">GitHub code</a></p>			
		</li>


		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project2.jpg"/>
				</div>
				<h3>JS Project</h3>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/hello-world">GitHub code</a></p>			
		</li>



		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project3.jpg"/>
				</div>
				<h3>Learning Angular</h3>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/learning-angular2">GitHub code</a></p>			
		</li>


		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project2.jpg"/>
				</div>
				<h3>Poo and typescript</h3>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/poo-and-typescript">GitHub code</a></p>			
		</li>


		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project5.jpg"/>
				</div>
				<h3>Angular project</h3>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/angular-project">GitHub code</a></p>			
		</li>


		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project2.jpg"/>
				</div>
				<h3>Backend for previous Angular project</h3>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/backend">GitHub code</a></p>			
		</li>


		<li class="project">			
				<div class="image">
						<img src="../../assets/img/project6.jpg"/>
				</div>
				<h3>Code of this website</h3>
				<p><a class="link" href="https://github.com/Greenin/Javascript-code/tree/master/backend">GitHub code</a></p>			
		</li>


	</ul>

</div>
